.multi-button-dashboard {
  // display: flex;
  background-color: #eeeded;

  .sidebar {
    font-family: "serif";
    font-weight: bold;
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex: 1.2;
    min-height: 100vh;
    background-color: #f6f5f7;
    position: fixed;
    z-index: 1;
    width: 26%;
    color: #626262;
    .btn-dash {
      color: #ed7014;
      background-color: #ffe9e9;
    }
    .btn {
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 14px;
      height: 50px;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #ebebeb;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      &:hover {
        color: #ed7014;
        background-color: #ffe9e9;
      }
    }
    .flex-column {
      a {
        text-decoration: none;
        padding-left: 35px;
        color: #626262;
        font-size: 14px;
        font-weight: 400;
        display: block;
        line-height: 16px;
        padding: 14px 14px 14px 35px;
        border-bottom: 1px solid #ebebeb;
        &:hover {
          color: #ed7014;
          background-color: #ffe9e9;
        }
      }
    }

    .profile-div {
      padding: 0 0 10px 10px;
      border-bottom: 1px solid #ebebeb;

      a {
        text-decoration: none;
        color: #716f6f;
        font-size: 0.9em;
      }
    }
    .plus-minus-icon {
      font-size: 20px;
      position: absolute;
      left: 220px;
      color: #626262;
    }
  }
}
