.dashboard-main-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: orange;
    height: 120px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}