.main-admin-div {
    .div1 {
      position: relative;
      top: 71px;
      background-color: #ebebeb;
      height: 100%;
      .content {
        position: relative;
        left: 270px;
        width: 70%;
      }
    }
  }
  